/*========================================================================
=            FutureMaster Custom Styles for FlexSlider Slider            =
========================================================================*/




.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  { outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
	list-style: none;
	margin    : 0;
	padding   : 0;
}

.flexslider a img { outline: none; border: none; }
.flexslider {
	border-radius: none;
	border       : none;
	box-shadow   : none;
	margin       : 0;
	padding      : 0;
}

.flexslider .slides > li {
	display                    : none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	border-radius: none;
}

.slides:after {
	content    : ".";
	clear      : both;
	display    : block;
	height     : 0;
	line-height: 0;
	visibility : hidden;
}

html[xmlns] .slides { display: block; }* html .slides { height: 1%; }

.flexslider .slides { zoom: 1; }

.flexslider .slides .flex-img {
	position: absolute;
	top     : 0px;
}

.flex-img-wrapper {
	position: relative;
	width: inherit;
}

.flexslider .slides .flex-img img { width: auto; }

.flex-img-top-middle .flex-img-wrapper { left: 50%; }
.flex-img-middle-left .flex-img-wrapper, .flex-img-top-left .flex-img-wrapper, .flex-img-bottom-left .flex-img-wrapper { left: 15%; }

.flex-caption {
	color         : #fff;
	font-size     : 4em;
	line-height   : 1em;
	padding       : 20px;
	position      : absolute;
	text-transform: uppercase;
	width         : inherit;
}

.flex-caption-shadow {
	text-shadow: 0 0 4px #000;
}

.flex-caption-bg-black {
	background: #000;
	background: rgba(0, 0, 0, 0.7);
}

.flex-caption-bg-white {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	color     : #000;
}

.flex-caption span {
	display       : block;
	font-size     : .4em;
	line-height   : 1.4em;
	margin-top    : .4em;
	text-transform: none;
}

.flex-caption-bottom-right-01, .flex-caption-bottom-right-02, .flex-caption-middle-right, .flex-caption-top-right {
	padding-right: 25px;
	text-align   : right;
}

.flexslider .btn { margin-top: 8px; }

.flex-img-top-left .flex-img-wrapper, .flex-img-top-right .flex-img-wrapper, .flex-img-top-middle .flex-img-wrapper { top: 5px; }
.flex-caption-bottom-left-01, .flex-caption-bottom-left-02, .flex-caption-middle-left, .flex-caption-top-left { text-align: left; }
.flex-caption-top-middle, .flex-caption-middle, .flex-caption-bottom-middle-01, .flex-caption-bottom-middle-02 { text-align: center; }
.flex-caption-bottom-left-01, .flex-caption-bottom-right-01, .flex-caption-bottom-middle-01 { top: 286px; }
.flex-caption-bottom-left-02, .flex-caption-bottom-right-02, .flex-caption-bottom-middle-02 { top: 222px; }
.flex-caption-middle-left, .flex-caption-middle-right, .flex-caption-middle { top: 150px; }
.flex-caption-top-left, .flex-caption-top-right, .flex-caption-top-middle { top: 8px; }

.flexslider:hover .flex-prev, .flexslider:hover .flex-next { opacity: 0.5; }

.flex-control-paging li a {
	background: none;
	box-shadow: none;
	border: 1px solid #979797;
}
.flex-control-paging li a.flex-active { background: #D8D8D8; }

@media (min-device-width: 0px) and (max-device-width: 768px) {
	.flex-caption-bg-black, .flex-caption-bg-white { padding: 2px;}
	.flex-caption button, .flex-caption a { padding: 2px; }
}
@media only screen and (min-width:1900px) {
	.flex-img-top-left .flex-img-wrapper, .flex-img-top-right .flex-img-wrapper, .flex-img-top-middle .flex-img-wrapper { top: 50px; }
}