/**
*
* Fontes
*
**/

.dancing { font-family: 'Dancing Script', cursive; }

/**
*
* Sections Home
*
**/

#noticias h3 {
	color      : #4A4A4A;
	font-size  : 24px;
	font-weight: bold;
	line-height: 33px;
}

#noticias img { margin-bottom: 20px; }

#areas img {
	left    : 30px;
	position: relative;
}

#areas h4 { margin-top: 300px; }

#area-aluno { background: url('../images/icone-aluno.png') no-repeat center; }

#area-professor {
	background : url('../images/icone-professor.png') no-repeat center;
	border-left: 2px solid #DDD;
}

/**
*
* Sections Home
*
**/

#pricing h2 .price{
	font-size: 1.8em;
	font-weight: bold;
}

#pricing h2 .cents{
	font-size: 0.6em;
	position: relative;
	top: -25px;
}

#pricing ul li:hover { background-color: #D9D9D9; }

/**
*
* Footer
*
**/

footer {
	background: #000;
	color     : #fff;
	border-top: 2px solid #D0021B;
	margin: 0;
	padding-bottom: 5px;
}

footer ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

footer li {
	font-size: 12px;
	margin: 0;
	padding: 5px;
	background: transparent;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

footer a li:hover, footer a li:active, footer a li:focus {
	background: #222;
	border-radius: 2px;
}

footer a { color: #ccc; }

footer a:hover, footer a:active, footer a:focus {
	color: #fff;
	text-decoration: none;
}

footer a > img { margin: 0 2px; }

#footer-brand { margin: 30px 0; }

@media screen and (max-width: 920px) {
	footer address p { text-align: center; }
}
