body{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
div.etiqueta{
    width: 63mm;
    height: 38mm;
    /*border: solid 1px #C9C9C9;*/
    padding: 2mm;
    overflow: hidden;
    background: #fff
}
/*3.7mm espaço de uma etiqueta para outra*/
.a1{
}
.a2{
    margin-left: 65mm;
}
.a3{
    margin-left: 128mm;
}
.b1{
    margin-top: 38mm;
}
.b2{
    margin-top: 38mm;
    margin-left: 65mm;
}
.b3{
    margin-top: 38mm;
    margin-left: 128mm;
}
.c1{
    margin-top: 76mm;
}
.c2{
    margin-top: 76mm;
    margin-left: 65mm;
}
.c3{
    margin-top: 76mm;
    margin-left: 128mm;
}
.d1{
    margin-top: 114mm;
}
.d2{
    margin-top: 114mm;
    margin-left: 65mm;
}
.d3{
    margin-top: 114mm;
    margin-left: 128mm;
}
.e1{
    margin-top: 152mm;
}
.e2{
    margin-top: 152mm;
    margin-left: 65mm;
}
.e3{
    margin-top: 152mm;
    margin-left: 128mm;
}
.f1{
    margin-top: 190mm;
}
.f2{
    margin-top: 190mm;
    margin-left: 65mm;
}
.f3{
    margin-top: 190mm;
    margin-left: 128mm;
}
.g1{
    margin-top: 228mm;
}
.g2{
    margin-top: 228mm;
    margin-left: 65mm;
}
.g3{
    margin-top: 228mm;
    margin-left: 128mm;
}
span#dados-aluno{
    font-size:8pt; 
    float: left;
    width: 100%;
    text-align: center;
}
div#code{
    width: 100px;
    margin: 0 auto;
}
@page {
    size: A4;
    margin-top: 14mm;
    margin-bottom: 14mm;
    margin-left: 7mm;
    margin-right: 7mm;
}