body{
	/*background: #E0E0E0;*/
	/*background: #F0F0F0;*/
	background: url(../images/background-conteudo.jpg) repeat-x top #E8E8E8;
	color: #2C3E50;
}

/*==============================
=            Navbar            =
==============================*/
.navbar-inverse{
	background: #2C3E50;
	border-color: #2C3E50;
	border-radius: 0 !important;
}
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #18BC9C;
}
.navbar-nav > li:hover{
	background: #1A242F;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background: #1A242F;
	color: #18BC9C;
}
.dropdown-menu{
	background: #1A242F;
}
.dropdown-menu > li > a{
	color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background: #2C3E50;
	color: #18BC9C;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background: #1A242F;
	color: #18BC9C;
}

.navbar-right{
	max-height: 53px;
}

/*============================
=            Type            =
============================*/
hr{
	border-color: #C5C5C5;
}
h1{
	color: #2C3E50;
}


/*==================================
=            Breadcrumb            =
==================================*/
.breadcrumb{
	background: #fff;
}

/*=================================
=            Jumbotron            =
=================================*/

.jumbotron{
	background-color: #fff;
}


