*{
	color: #fff
}
body{
	background: url(../images/background-checkin.jpg) no-repeat #000;
	background-position: center top;
}

.btn-semantic{
	font-size: 30px;
	width: 100%;
	margin-bottom: 15px;
}
.btn-aula small{
	font-size: 20px;
	font-style: italic;
}
.top-percent{
	margin-top: 10%;
}

.ui.inverted.red.basic.button, .ui.inverted.red.basic.buttons .button, .ui.inverted.red.buttons .basic.button{
	margin-bottom: 20px;
	font-size: 25px;
}

a small{
	font-weight: normal;
	font-size: 15px;
}

.go-dance{
	font-size: 12px;
	margin-top: 20px;
}

a.voltar{
	font-size: 10px;
	margin-top: 20px;
}
.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="url"]{
	font-size: 2em;
	margin-bottom: 20px;
}

div.green strong{
	color: #1EBC30;
}
div.red strong{
	color: #DB2828;
}
.px3{
	margin-top: 10px;
}
footer{
	/*margin-top: 30hv;*/

}
